body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

#searchbar {
  display: block;
  width: 30%;
  font-size: 2em;
  margin: 0 auto;
  position: fixed;
  top: 10%;
  left: 35%;
}

#button {
  display: block;
  width: 20%;
  font-size: 2em;
  margin: 0 auto;
  position: fixed;
  top: 20%;
  left: 40%;
}

@media all and (max-width: 600px) {
  input {
    width: 100%;
    left: 0;
    top: 0;
  }
}